*.o
*.a
*.so    
*.dSYM
.DS_Store
.vscode
game.pid
src/config/gameConfig.lua
skynetAuth.pid
skynetGame.pid
skynetLogin.pid
skynetRobot.pid
skynetGate.pid
skynetGate2.pid
skynetMatch.pid
skynetUser.pid
skynetActivity.pid
skynetActivity2.pid
skynet.pid
/log/*
/logLobby/*
/logGame/*
/output/*
/output.zip